.footer-top{
    background-image: url("../img/footer-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    color: white;

    .container{
        display: flex;
        justify-content: space-between;

        .list{
            width: 50%;
            display: flex;
            padding: 60px;
                li{
                    color: lightgrey;
                }

                ul{
                    padding-right: 40px;
                    padding-bottom: 15px
                }     
        }  

        .bg-img{
            background-image: url("../img/dc-logo-bg.png");
            background-position: center;
            background-size: cover;
            width: 50%;
        }
    }   
}

.footer-bottom{
    background-color: $brand_secondary_color;

    .container{
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn{
            border: 3px solid $brand_primary_color;

            a{
                padding: 15px;
                color: white;
                font-weight: bolder;
                display: inline-block;
            }
        }

        .social{
            display: flex;
            align-items: center;

            h3{
                color: $brand_primary_color;
                padding-right: 10px;
            }

            span{
                padding-right: 10px;
            }
        }
    }    
}