header {
    img {
        height: 80px;
    }
    
    .header-top{
        background-color: $brand_primary_color;
        .container-top{
            width: 85%;
            text-align: end;

            span{
                padding-right: 5px;
                font-size: 12px;
                color: white;
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    nav {
        height: 100%;
    }

    .menu {
        display: flex;
        line-height: 100px;
    }

    li {
        padding: 0 10px;
        color: #606d77;

        a {
            font-size: 12px;
            font-weight: bolder;
        }

        &.current {
            color: $brand_primary_color;
            border-bottom: 8px solid $brand_primary_color;
        }
    }

    .btn{
        background-color: $brand_primary_color;
        padding: 10px;
        border-radius: 7px;
        color: white;
        cursor: pointer;
    }
    
    .jumbotron {
        position: relative;
        height: 500px;
        width: 100%;

        img {
            height: 100%;
            object-fit: cover;
            object-position: top;
            width: 100%;
        }
    }
}