.comics-list {
    padding: 30px 0;
    background-color: $brand_secondary_color;
    position: relative;

        .series{
            position: absolute;
            bottom: calc((100% - 10px) - 12px) ;
            color: white;
            font-size: 15px;
            font-weight: bolder;
            background-color: $brand_primary_color;
            padding: 18px

        };

        .products-list {
            display: flex;
            flex-wrap: wrap;

            .product-card {
                padding: 20px;
                width: calc((100% / 6) - 6px);
                margin: 0 auto;

                img{
                    height: 190px;
                    width: 100%;
                }

                h3 {
                    margin-top: 3px;
                    font-size: 13px;
                    color: white
                }
            }

        };

        .more{
            width: 20%;
            margin: 0 auto;
            color: white;
            font-size: 15px;
            padding: 10px;
            text-align: center;
            font-weight: bolder;
            background-color: $brand_primary_color;
        }
    }